h1 {
    text-align: center;
}

/*.input{*/
    /*margin: 20px;*/
/*}*/

.error_input{
    border-color: red;
}

/*body {*/
    /*height: 100%;*/
    /*margin: 0;*/
/*}*/

/*******************
      RESEARCH
*******************/

.resContent{
    height: 15%;
}

.resContent p{
    width: 100%;
    margin-bottom:auto;
    display: inline;
    vertical-align: middle;
}

.ASC{
    margin: auto;
    margin-right: 5px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

    border-bottom: 8px solid black;
}

.DESC{
    margin: auto;
    margin-right: 5px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

    border-top: 8px solid black;
}

input[type=checkbox] {
    zoom: 1.8;
}

input[type=number]{
    width: 20%;
}

h3 {
    text-shadow: 0 0 10px #007eff;
    text-transform: uppercase;

    color: white;
    font-family: Verdana;
    /*background-color: white;*/
}

.displaybutton {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 23%;
}

.sortbutton{
    margin-left: 5px;
    border-radius: 5px;
    vertical-align: middle;
    background-color: white;
    text-align: center;
    display: inline-flex;
    /*width: 20px;*/
    /*height: 20px;*/
}

.resForm {
    z-index: 8;
    margin-left: 40px;
    filter: brightness(0.95);
    color: white;
    vertical-align: middle;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 3px 5px 20px black;
    border-radius: 15px;
    background-color: #0a466b;
    /*// backgroundColor: white;*/
    position: fixed;
    width: 20%;
    min-width: 300px;
    max-width: 300px;
    margin-bottom: 10%;
    min-height: 60%;
    bottom: 0;

}

.resForm input{
    margin-left: 3px;
    background-color: white;
    font-size: 13px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    /*margin: auto;*/
    /*border: 1px solid grey;*/
    outline: none;
}

.hidden {
    display: none;
}

/**/
/*HEADER*/
/**/

.header {
    width: 100%;
    background-color: #0a466b;
}

/**/
/*HOME_PAGE*/
/**/


/*UserResult*/

.resList {
    /*background-color: red;*/
    // margin-left: 20%;
    margin: auto;
    height: 100%;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.resUser {
    background-color: pink;
    width: 250px;
    /*min-width: 350px;*/
    /*max-width: 350px;*/
    height: 250px;
    margin: 10px;
    /*min-height: 350px;*/
    /*max-height: 350px;*/
    display: inline-flex;
    flex-wrap: wrap;

}

.resUserInfo {
    width: 100%;
    height: 30px;
    bottom: 30px;
    color: white;
    background-color: rgba(0,0,0,0.55);
    /*display: inline-block;*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.resUsermen {
    background-color: rgba(8, 66, 101, 0.55);
}

.resUsergirl {
    background-color: rgba(199, 27, 194, 0.55);
}

.like{
    height: 100%;
}

.opacity {
    opacity: 0;
}

.resUser img {
 /*position: absolute;*/
}

.resUser p {
    font-family: Verdana;
    text-transform: capitalize;
    color: white;
    /*filter: brightness(0.9);*/
    text-align: right;
    /*bottom: 40px;*/
}


/***************
****************/
