h1 {
    text-align: center;
}

.input{
    margin: 20px;
}

.error_input{
    border-color: red;
}



/*******************
      RESEARCH
*******************/

.resForm input{
    /*text-align: center;*/
    font-size: 13px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid dimgrey;
    /*margin: 15px;*/
    width: 50%;
    /*border: 1px solid grey;*/
    /*outline: none;*/
}
